<div class="page-content-wrapper">
    <div class="content">
        <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#/chassis" class="active">Pod</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid container-fixed-lg">
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search" ng-model="searchText">
                    </div>
                    <div class="pull-right">
                        <div class="col-xs-12">
                            <button id="show-modal" class="btn btn-primary btn-cons"><i class="fa fa-plus"></i> Add Pod</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th>POD ID</th>
                                <th>FLAVOUR</th>
                                <th>JUMPHOST HOSTNAME</th>
                                <th>JUMPHOST HOST IP</th>
                                <th>BGW HOSTNAME</th>
                                <th>BGW HOST IP</th>
                                <th>BGW GW POD PORT</th>
                                <th>ECMHOST HOSTNAME</th>
                                <th>ECMHOST HOST IP</th>
                                <th>ECMHOST ECM_TENANT</th>
                                <th>ACTHOST HOSTNAME</th>
                                <th>ACTHOST HOSTIP</th>
                                <th>SSHPROXY HOSTNAME</th>
                                <th>VIMZONE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in pod_list | filter:searchText">
                                <td class="v-align-middle">
                                    <p>{{x.pod_id}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.flavour}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.jumphost_hostname}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.jumphost_hostip}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.bgw_hostname}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.bgw_hostip}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.bgw_gw_pod_port}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.ecmhost_hostname}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.ecmhost_hostip}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.ecmhost_ecm_tenant}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.acthost_hostname}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.acthost_hostip}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.sshproxy_hostname}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.sshproxy_hostip}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{x.vimzone}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <button class="btn btn-info btn-cons m-b-10" type="button" ng-click="edit(x)"><i class="fa fa-paste"></i> <span class="bold">Edit</span></button>
                                    <button class="btn btn-danger btn-cons m-b-10" type="button" ng-click="delete(x)"><i class="fa fa-trash-o"></i><span class="bold">Delete</span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fixed-lg footer">
        <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Copyright © 2015 </span>
                <span class="font-montserrat">Wipro</span>.
                <span class="hint-text">All rights reserved. </span>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="modal fade stick-up" id="addNewAppModal" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">New</span> POD</h4>
            </div>
            <div class="modal-body">
                <p class="small-text">And a new POD using this form, make sure you fill them all</p>
                <form role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Flavour</label>
                                <input type="text" class="form-control" ng-model="newpod['flavour']" placeholder="Enter Flavour">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>jumphost_hostname</label>
                                <input type="text" class="form-control" ng-model="newpod['jumphost_hostname']" placeholder="Enter jumphost_hostname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>jumphost_hostip</label>
                                <input type="text" class="form-control" ng-model="newpod['jumphost_hostip']" placeholder="Enter jumphost_hostip">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>jumphost_username</label>
                                <input type="text" class="form-control" ng-model="newpod['jumphost_username']" placeholder="Enter jumphost_username">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>jumphost_password</label>
                                <input type="password" class="form-control" ng-model="newpod['jumphost_password']" placeholder="Enter jumphost_password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>bgw_hostname</label>
                                <input type="text" class="form-control" ng-model="newpod['bgw_hostname']" placeholder="Enter bgw_hostname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>bgw_hostip</label>
                                <input type="text" class="form-control" ng-model="newpod['bgw_hostip']" placeholder="Enter bgw_hostip">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>bgw_username</label>
                                <input type="text" class="form-control" ng-model="newpod['bgw_username']" placeholder="Enter bgw_username">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>bgw_password</label>
                                <input type="password" class="form-control" ng-model="newpod['bgw_password']" placeholder="Enter bgw_password">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>bgw_gw_pod_port</label>
                                <input type="password" class="form-control" ng-model="newpod['bgw_gw_pod_port']" placeholder="Enter bgw_gw_pod_port">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>ecmhost_hostname</label>
                                <input type="text" class="form-control" ng-model="newpod['ecmhost_hostname']" placeholder="Enter ecmhost_hostname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>ecmhost_hostip</label>
                                <input type="text" class="form-control" ng-model="newpod['ecmhost_hostip']" placeholder="Enter ecmhost_hostip">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>ecmhost_username</label>
                                <input type="text" class="form-control" ng-model="newpod['ecmhost_username']" placeholder="Enter ecmhost_username">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>ecmhost_password</label>
                                <input type="text" class="form-control" ng-model="newpod['ecmhost_password']" placeholder="Enter ecmhost_password">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-app" type="button" class="btn btn-primary  btn-cons" ng-click="submit()">Add</button>
                <button type="button" class="btn btn-cons" ng-click="cancel()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade stick-up" id="editNewAppModal" tabindex="-1" role="dialog" aria-labelledby="editNewAppModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h4 class="p-b-5"><span class="semi-bold">Edit</span> User</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Email</label>
                                <input type="text" class="form-control" ng-model="edituser['email_id']" placeholder="Enter Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Username</label>
                                <input type="text" class="form-control" ng-model="edituser['user_name']" placeholder="Enter Username">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Linux ID</label>
                                <input type="text" class="form-control" ng-model="edituser['linux_id']" placeholder="Enter Linux ID">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Chassis Detail</label>
                                <input type="text" class="form-control" ng-model="edituser['chassis_detail']" placeholder="Enter Chassis Detail">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-app" type="button" class="btn btn-primary  btn-cons" ng-click="esubmit()">Edit</button>
                <button type="button" class="btn btn-cons" ng-click="cancel()">Close</button>
            </div>
        </div>
    </div>
</div>
